<<<<<<< HEAD
.bg-secondary{
    background-color: #00B050 !important;
}

.myicon{
    font-size: 30px;
    color: white !important;
=======
.bg-secondary{
    background-color: #00B050 !important;
}

.myicon{
    font-size: 30px;
    color: white !important;
>>>>>>> 3d89e68835facbecfce5429c0e3d265323376159
}